{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
<h2>Présentation</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est et laborum sunt voluptates? Atque, doloribus eligendi fuga nobis nostrum unde!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est et laborum sunt voluptates? Atque, doloribus eligendi fuga nobis nostrum unde!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est et laborum sunt voluptates? Atque, doloribus eligendi fuga nobis nostrum unde!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est et laborum sunt voluptates? Atque, doloribus eligendi fuga nobis nostrum unde!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est et laborum sunt voluptates? Atque, doloribus eligendi fuga nobis nostrum unde!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est et laborum sunt voluptates? Atque, doloribus eligendi fuga nobis nostrum unde!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est et laborum sunt voluptates? Atque, doloribus eligendi fuga nobis nostrum unde!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est et laborum sunt voluptates? Atque, doloribus eligendi fuga nobis nostrum unde!</p>
{% endblock %}
